.list-page {
    padding: 42px calc(50% - 300px);
}

.list-page__title {
    margin-bottom: 26px;
    font-size: 45px;
    background: #496DDB;
    padding: 20px;
    font-family: 'Luckiest Guy', cursive;
    color: #FFEEDB;
}

.list-page ul li {
    font-size: 18px;
}

.movie-item {
    padding: 20px;
    background-color: #FFEEDB;
    display: flex;
    align-items: center;
}
.movie-item__poster {
    height: 150px;
    margin-right: 21px;
}
